@font-face {
  font-family: "Billabong";
  src: url(../assets/fonts/Billabong.woff2) format("woff2"),
    url(../assets/fonts/Billabong.woff) format("woff"), url(../assets/fonts/Billabong.otf) format("opentype"),
    url(../assets/fonts/Billabong.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
  font-feature-settings: "kern" 1, "onum" 1;
  unicode-range: U+000-5FF, U+261C; /* Latin glyphs */
  font-display: block;
}

@font-face {
  font-family: "Open Sans";
  src: url(../assets/fonts/OpenSans-Light.woff2) format("woff2"),
    url(../assets/fonts/OpenSans-Light.woff) format("woff"),
    url(../assets/fonts/OpenSans-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
  font-feature-settings: "kern" 1, "onum" 1;
  unicode-range: U+000-5FF, U+261C; /* Latin glyphs */
  font-display: block;
}

$billabong-stack: "Billabong";

$open-sans-stack: "Open Sans", Helvetica, Verdana, "Montserrat", Arial, sans-serif;
