@charset "UTF-8";

#heading {
  width: 40%;
  margin: 0 auto 0 50%;
}

#nametag {
  width: 70%;
  margin: 3rem auto;
}

a {
  img {
    width: 100%;
  }
}

#footing {
  img {
    height: 2.5rem;
    width: fit-content;
    float: right;
  }
}

.deck {
  align-items: center;
  align-content: center;
  margin: 1rem auto 1rem;
  padding: 0 2rem;
  columns: 1;
  width: 90%;
  max-width: 500px;
  display: block;
}
